<!DOCTYPE html>





<html lang="en">
<head>

</head>
<body>




{% include 'header2.html' %}

<div class="container-fluid">
        <div class="row">
            {% include 'sidebar.html' %}
            </div>
            <div class="col-md-10 col-sm-8 main-content">
                        <h1>Its home of {{name}}
</h1>

                      <form method="POST" action="/fundtransfer">
<table>
    <tr>
 <tr><td>Account no (source) </td><td> <input type="text" name="accno1" /> </td><br></tr>
 <tr><td>Account no (deposite) </td><td> <input type="text" name="accno2" /> </td><br></tr>
    <tr><td>Amount</td><td><input type="text" name="amount" /> </td><br></tr>
<tr><td><input type="submit" value="Submit" /></td></tr>
    </table>
        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->



</body>
</html>