<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div class="col-md-2 col-sm-4 sidebar1">

                <br>
                <div class="left-navigation">
                    <ul class="list">
                        <li><a href="/createaccount">Create account</a></li>
                <li><a href="/transaction">Transaction</a></li>
                <li><a href="/accountstats">Account Stats</a></li>
                <li><a href="/mobilerecharge">Mobile recharge</a></li>
                <li><a href="/fundtransfer">Fund Transfer</a></li>
                <li><a href="/mysettings">My settings</a></li>
                <li><a href="/logout">Logout</a></li>
                    </ul>

                    <br>

                </div>
</body>
</html>